<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{template/client/layout/layout}">
	<head>
	    <title>로그인 페이지</title>
	    <link rel="stylesheet" type="text/css" href="/css/user/login.css">
	</head>
	
	<body>
	    <th:block layout:fragment="content">
	        <div class="container">
	            <div class="text-center login-container">
	            	<div class="page-info">
	            		<h2>로그인</h2>
	            		<hr/>
	            	</div>
	            	
	            	<div th:if="${errorMessage != null}">
                    	<p style="color:red;" th:text="${errorMessage}"></p>
                	</div>
	            	
	            	<form id="login-form">
	            		<div class="form-group">
	            			<input type="text" name="userID" id="userID" maxlength="12" required>
	            		</div>
	            		<div class="form-group">
			                <input type="password" name="userPwd" id="userPwd" maxlength="20" required>
			            </div>
			            <a href="findOption">아이디/비밀번호 찾기</a>
			            <a href="joinForm">회원가입</a>
			            <input type="submit" value="로그인">
	            	</form>
	            	
	            </div>
	        </div>
	    </th:block>
	
	    <th:block layout:fragment="script">
	        <script>
			    document.getElementById('login-form').addEventListener('submit', function(event) {
			        event.preventDefault(); // 기본 폼 제출 방지
			
			        const userID = document.getElementById('userID').value;
			        const userPwd = document.getElementById('userPwd').value;
			
			        fetch('/user/login', {
			            method: 'POST',
			            headers: {
			                'Content-Type': 'application/x-www-form-urlencoded'
			            },
			            body: new URLSearchParams({
			                userID: userID,
			                userPwd: userPwd
			            })
			        })
			        .then(response => {
			            if (response.ok) {
			                const token = response.headers.get('Authorization'); // 서버에서 JWT 토큰을 가져옴
			                if (token) {
			                    sessionStorage.setItem('token', token); // JWT 토큰을 localStorage에 저장
			                    console.log('Token stored successfully:', token);
			                    window.location.href = '/'; // 로그인 성공 후 리디렉션
			                }
			            } else {
			                console.error('Login failed');
			                alert('로그인에 실패했습니다.');
			            }
			        })
			        .catch(error => {
			            console.error('Error:', error);
			            alert('로그인 중 오류가 발생했습니다.');
			        });
			    });
			</script>
	    </th:block>
	</body>

</html>