/* 전체 컨테이너 스타일 */
.container {
    margin-top: 30px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 제목 섹션 스타일 */
label.formlabel {
    font-weight: bold;
    font-size: 16px;
}

input.formcontrol, 
textarea.formcontrol {
    border-radius: 5px;
    border: 1px solid #ced4da;
    font-size: 16px;
    padding: 10px;
}

input[type="file"].formcontrol {
    padding: 6px;
    background-color: #ffffff;
}

/* 이미지 미리보기 스타일 */
.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

/* 버튼 스타일 */
.textend {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

/* 폼의 각 섹션 간격 */
.mb-3 {
    margin-bottom: 1.5rem !important;
}

/* 텍스트 영역 스타일 */
.apple-textarea {
    height: 200px;
    resize: none;
}

/* 입력 폼의 폰트와 텍스트 크기 조절 */
.formcontrol {
    font-size: 16px;
    color: #495057;
    line-height: 1.5;
}

/* 제목 상단
