<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/client/layout/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/mypage/mypage.css" />
    <link rel="stylesheet" href="/css/mypage/mypageInfo.css" />
</th:block>

<th:block layout:fragment="content">
    <div class="mypage">
        <table class="tbl_mypage">
            <colgroup>
                <col style="width:20%;">
                <col style="width:20%;">
                <col style="width:20%;">
                <col style="width:20%;">
                <col style="width:20%;">
            </colgroup>
            <thead>
                <tr class="mainMenu">
                    <th scope="row">판매 관리</th>
                    <th scope="row">주문 내역</th>
                    <th scope="row">정보 관리</th>
                    <th scope="row">비밀번호</th>
                    <th scope="row">회원 관리</th>
                </tr>
            </thead>
            <tbody>
                <tr class="menuList">
                    <td>
                        <ul>
                            <li><a href="/mypage/sellAll" class="underline">판매 상품</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="/mypage/buy" class="underline">주문 내역</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="/mypage/userPasswordCheck" class="underline">나의 정보 수정</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="/mypage/userPasswordUpdate" class="underline">비밀번호 변경</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="/mypage/withdraw" class="underline">회원 탈퇴</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="divUserInfoRetouch">
			<form id="update-info" th:action="@{/mypage/updatePassword}" th:object="${user}" method="post">
			    <div class="divTitle"> 
			        나의 정보수정
			    </div>
			    <div id="error-message" class="divUserRetouch" style="color: red;" th:if="${errorMessage}" th:text="${errorMessage}"></div>
			    <div class="divUserRetouch">
			        현재 비밀번호
			        <input type="password" class="updateInput" id="currentUserPasswd" name="currentPassword" placeholder="현재 비밀번호">
			    </div>
			    <div class="divUserRetouch">
			        변경할 비밀번호
			        <input type="password" class="updateInput" id="updateUserPasswd" name="newPassword" placeholder="변경할 비밀번호">
			    </div>
			    <div class="divUserRetouch">
			        비밀번호 확인
			        <input type="password" class="updateInput" id="updateUserPasswdCheck" name="confirmPassword" placeholder="비밀번호 확인">
			    </div>
			    <div class="divUserBtn">
			        <button type="submit" class="userBtn">변경하기</button>
			    </div>
			</form>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
	<script src="/js/jquery-3.7.1.min.js"></script>
	<script src="/js/mypage/mypageUserInfoRetouch.js"></script>
	<script>
	    document.getElementById('update-info').addEventListener('submit', function(event) {
	        const newPassword = document.getElementById('updateUserPasswd').value;
	        const confirmPassword = document.getElementById('updateUserPasswdCheck').value;
	        const errorMessageDiv = document.getElementById('error-message');
	        
	     	// 비밀번호 유효성 검사 정규식
	        const passwordPattern = /^(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*])[a-z\d!@#$%^&*]{8,20}$/;
	        
	        if (newPassword !== confirmPassword) {
	            event.preventDefault(); // 폼 제출 중단
	            errorMessageDiv.textContent = '변경할 비밀번호가 일치하지 않습니다. 다시 확인해 주세요.';
	        } else {
	            errorMessageDiv.textContent = ''; // 오류 메시지 초기화
	        }
	        
	     // 비밀번호 유효성 검사
	        if (!passwordPattern.test(newPassword)) {
	            event.preventDefault(); // 폼 제출 중단
	            errorMessageDiv.textContent = '비밀번호는 8~20자의 영문 소문자, 숫자, 특수문자(!@#$%^&*)를 포함해야 합니다.';
	            return;
	        }
	    });
	</script>
</th:block>
</html>