<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/client/layout/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/mypage/mypage.css" />
</th:block>

<th:block layout:fragment="content">
    <div class="mypage">
        <table class="tbl_mypage">
            <colgroup>
                <col style="width:25%;">
                <col style="width:25%;">
                <col style="width:25%;">
                <col style="width:25%;">
            </colgroup>
            <thead>
                <tr class="mainMenu">
                    <th scope="row">판매 관리</th>
                    <th scope="row">주문 내역</th>
                    <th scope="row">정보 관리</th>
                    <th scope="row">회원 관리</th>
                </tr>
            </thead>
            <tbody>
                <tr class="menuList">
                    <td>
                        <ul>
                            <li><a th:href="@{/mypage/sellAll}" class="underline">판매 상품</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a th:href="@{/mypage/buy}" class="underline">주문 내역</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a th:href="@{/mypage/userPasswordCheck}" class="underline">나의 정보 수정</a></li>
                        </ul>
                    </td>
                    <td> 
                        <ul>
                            <li><a th:href="@{/mypage/withdraw}" class="underline">회원 탈퇴</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="divEditPwd">
            <div class="divTitle">나의 정보수정</div>
            <div class="box">
                <p class="msg">고객님의 안전한 정보보호를 위하여 비밀번호를 다시 한번 확인합니다.<br>비밀번호가 타인에게 노출되지 않도록 주의하여 주세요.</p>
                <form th:action="@{/mypage/modifyInfo}" th:object="${passwordCheckDTO}" method="post">
                    <input type="hidden" th:field="*{userNo}" />
                    <input type="password" th:field="*{userPwd}" id="edit_pwd" class="userPwd" placeholder="비밀번호" required />
                    <div class="divPwdBtn">
                        <button type="button" class="pwdCancelBtn">취소</button>
                        <button type="submit" class="pwdSubmitBtn">확인</button>
                    </div>
                </form>
                <div th:if="${error}" class="error-msg">
                    <p th:text="${error}"></p>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/mypage/mypageUserPasswordCheck.js"></script>
</th:block>
</html>
