<!DOCTYPE html>
<!-- 본문 코드가 위치하는 파일로서 상단에 layout:decorate="경로/공통페이아웃파일명"을 선언하여 기본 레이아웃 파일을 사용하겠다라는 의미이다. 
참고 : thymeleaf 2.x 버전에서는 layout:decorator 이지만 thymeleaf 3.x 버전에서는 layout:decorate를 사용.-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/client/layout/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/mypage/mypage.css" />
</th:block>

<th:block layout:fragment="content">
    <div class="mypage">
        <form id="deleteForm" method="post"> <!--  th:action="@{/mypage/delete/buy{userNo}(userNo=${userNo})}" -->
        	<input type="hidden" id="userNoHide" th:value="${userNo}" />
            <table class="tbl_mypage">
                <colgroup>
                    <col style="width:25%;">
                    <col style="width:25%;">
                    <col style="width:25%;">
                    <col style="width:25%;">
                </colgroup>
                <thead>
                    <tr class="mainMenu">
                        <th scope="row">판매 관리</th>
                        <th scope="row">구매 관리</th>
                        <th scope="row">정보 관리</th>
                        <th scope="row">회원 관리</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="menuList">
                        <td>
                            <ul>
                                <li><a href="/mypage/sellAll" class="underline">판매 상품</a></li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li><a href="/mypage/buy" class="underline">구매 상품</a></li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li><a href="/mypage/userPasswordCheck" class="underline">나의 정보 수정</a></li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                               	<li><a href="/mypage/withdraw" class="underline">회원 탈퇴</a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- 반복문시작 -->
            <table class="tbl_col">
                <colgroup>
                    <col style="width:5%;">
                    <col>
                    <col style="width:12%;">
                    <col style="width:12%;">
                    <col style="width:12%;">
                </colgroup>
                <thead>
                    <tr class="trSellItem">
                        <th colspan="4" class="title">
                            구매 상품 (
                            <span th:text="${items != null ? items.size() : 0}" class="itemCnt"></span>
                            )
                        </th>
                        <th class="title">
                            <button type="submit" class="deleteBtn" id="deleteSelectedBtn">선택 삭제</button>
                        </th>
                    </tr>
                    <tr class="trSellItem">
                        <th scope="col"><input type="checkbox" class="chkBox" id="fullChk"></th>
                        <th scope="col">상품명</th>
                        <th scope="col">가격</th>
                        <th scope="col">상품 등록일</th>
                        <th scope="col">리뷰 작성</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 반복구문시작 -->
                    <tr th:each="item : ${items}" class="trSellItem">
                        <td class="tdChkbox">
                            <input type="checkbox" class="buyChk" name="productIds[]" th:value="${item.productID}">
                        </td>
                        <td class="tdItemName">
                            <!-- <img th:src="@{'../images/usershop/' + ${item.productImageId}}" alt="상품이미지" class="itemImg"> -->
                            <div id="itemName" th:text="${item.productName}"></div>
                            <div id="shopId" th:text="${item.user.usershop.shopId}" hidden="true"></div>
                        </td>
                        <td th:text="${item.productPrice}"></td>
                        <td th:text="${#temporals.format(item.productRegDate, 'yyyy-MM-dd')}"></td>
                        <td><button type="button" class="reviewBtn">작성하기</button></td>
                    </tr>
                </tbody>
                <!-- items의 크기가 0일 때 emptyTbl 표시 -->
                <tr class="emptyTbl" th:if="${#lists.isEmpty(items)}">
                    <td colspan="5" class="empty">구매내역이 존재하지 않습니다.</td>
                </tr>
            </table>
        </form>
    </div>
</th:block>

<th:block layout:fragment="script">
	<script src="/js/jquery-3.7.1.min.js"></script>
	<script src="/js/mypage/mypageBuyItem.js"></script>
</th:block>
</html>