<!DOCTYPE html>
<!-- 본문 코드가 위치하는 파일로서 상단에 layout:decorate="경로/공통페이아웃파일명"을 선언하여 기본 레이아웃 파일을 사용하겠다라는 의미이다. 
참고 : thymeleaf 2.x 버전에서는 layout:decorator 이지만 thymeleaf 3.x 버전에서는 layout:decorate를 사용.-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/client/layout/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/mypage/mypage.css" />
    <link rel="stylesheet" href="/css/mypage/mypageInfo.css" />
</th:block>

<th:block layout:fragment="content">
    <div class="mypage">
        <table class="tbl_mypage">
            <colgroup>
                <col style="width:25%;">
                <col style="width:25%;">
                <col style="width:25%;">
                <col style="width:25%;">
            </colgroup>
            <thead>
                <tr class="mainMenu">
                    <th scope="row">판매 관리</th>
                    <th scope="row">주문 내역</th>
                    <th scope="row">정보 관리</th>
                    <th scope="row">회원 관리</th>
                </tr>
            </thead>
            <tbody>
                <tr class="menuList">
                    <td>
                        <ul>
                            <li><a href="/mypage/sellAll" class="underline">판매 상품</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="/mypage/buy" class="underline">주문 내역</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="/mypage/userPasswordCheck" class="underline">나의 정보 수정</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="/mypage/withdraw" class="underline">회원 탈퇴</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="divUserInfoRetouch">
            <form id="update-info" th:action="@{/mypage/updateUserInfo}" th:object="${user}" method="post">
                <div class="divTitle"> 
                    나의 정보수정
                </div>
                <div class="divUserRetouch">
                    아이디
                    <input type="text" class="readOnly" readonly="readonly" th:value="${user.userID}">
                </div>
                <!-- 
                <div class="divUserRetouch">
                    비밀번호
                    <input type="password" id="userPasswd" th:field="*{userPwd}" placeholder="비밀번호">
                    <span class="password-toggle" onclick="togglePassword()">👁️</span>
                </div>
                !-->
                <div class="divUserRetouch">
                    이름
                    <input type="text" class="readOnly" th:field="*{userName}" readonly="readonly">
                </div>
                <div class="divUserRetouch">
                    닉네임
                    <input type="text" th:field="*{userNickname}" class="userNickname" id="userNickname">
                </div>
                <div class="divUserRetouch">
                    전화번호
                    <input type="text" th:field="*{userPhone}" class="userPhoneNumber" id="userPhoneNumber">
                </div>
                <div class="divUserRetouch">
                    이메일
                    <div class="divEmail">
                    	<input id="currentEmail" th:value="${user.userEmail}" hidden="hidden">
                        <input type="text" id="userEmail1" class="userEmail1">
                        <span>@</span>
                        <input type="text" id="userEmail2" class="userEmail2">
                    </div>
                    <input type="hidden" name="userEmail" th:field="*{userEmail}" id="userEmail">
                </div>
                <div class="divUserRetouch">
                    생년월일
                    <input type="date" class="readOnly" th:field="*{userBirth}" readonly="readonly">
                </div>
                <div class="divUserBtn">
                    <button type="submit" class="userBtn">수정하기</button>
                </div>
            </form>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
	<script src="/js/jquery-3.7.1.min.js"></script>
	<script src="/js/mypage/mypageUserInfoRetouch.js"></script>
</th:block>
</html>