<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{template/client/layout/layout}">
    
    <th:block layout:fragment="css">
    	<link rel="stylesheet" href="/css/community/communityPostUpdateForm.css" />
    </th:block>
    
    <th:block layout:fragment="content">
        <div class="textcenter"><h3>게시글 수정</h3></div>
        
        <div class="container">
            <div th:object="${communityPost}">
                <form id="updateForm" name="updateForm" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="communityPostID" th:value="*{communityPostID}" />
                    
                    <div class="mb-3">
                        <label class="formlabel">글제목</label>
                        <div class="col-sm">
                            <input type="text" class="formcontrol" th:field="*{communityTitle}" />
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label class="formlabel">글내용</label>
                        <div class="col-sm">
                            <textarea class="apple-textarea" rows="8" th:field="*{communityContent}"></textarea>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label class="formlabel">첨부 이미지</label>
                        <div class="col-sm">
                            <input type="file" class="formcontrol" th:field="*{communityImage}" />
                            <!-- 기존 이미지 미리보기 -->
                            <div th:if="*{communityImage != null}" class="mt-3">
                                <img th:src="@{'/images/' + *{communityImage}}" class="img-fluid" alt="첨부 이미지" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="textend">
                <input type="button" value="수정" id="communityUpdateBtn" class="btn-primary btn-sm" />
                <input type="button" value="취소" id="communityCancelBtn" class="btn-primary btn-sm" />
                <input type="button" value="목록" id="communityListBtn" class="btn-primary btn-sm" />
            </div>
        </div>
    </th:block>
    
    <th:block layout:fragment="script">
        <script src="/js/community/communityUpdateForm.js"></script>
    </th:block>
</html>
