<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/client/layout/layout}">
<head>
    <th:block layout:fragment="css">
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
        <style>
        </style>
    </th:block>
</head>
<th:block layout:fragment="content">
    <div class="table-container bg-white p-6 rounded-lg" style="width: 1100px;">
        <h1 class="text-2xl font-bold mb-4">우리동네 커뮤니티 게시판</h1>

        <div class="flex justify-between mb-4">
            <!-- 검색 바 추가 -->
			<div class="relative w-2/3">
			    <input type="text" id="searchInput" class="w-full py-2 px-4 border border-gray-300 rounded-lg focus:outline-none" placeholder="Search...">
			    <button type="button" id="searchBtn" class="absolute right-2 top-1 text-black focus:outline-none" style="font-size: 20px;">
			        &lt;
			    </button>
			</div>


            <!-- 글쓰기 버튼 -->
            <div class="createbtn">
                <button type="button" class="btn-primary bg-blue-500 text-white py-2 px-4 rounded-lg">글쓰기</button>
            </div>
        </div>

        <div class="tableheight">
            <table class="table table-hover bg-white border-collapse rounded-lg" style="width: 1000px;">
                <tbody class="list">
                    <!-- 게시글 목록이 여기에 추가됩니다. -->
                </tbody>
            </table>
        </div>

        <!-- 감시 요소 -->
        <p id="sentinel"></p>
    </div>
</th:block>
<th:block layout:fragment="script">
    <script src="/js/community/communityPostList.js"></script>
</th:block>
</html>
