<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{template/client/layout/layout}">
		<th:block layout:fragment="css">
			<link rel="stylesheet" href="/build/static/css/main.d6d44daa.css">
		</th:block>
		
		<th:block layout:fragment="content">
			<div id="root">
				<!--/*-->리액트 페이지 렌더링 영역<!--*/-->
			</div>
		</th:block>
		
		<th:block layout:fragment="script">
			<script src="/assets/js/sendbird.min.js"></script>
			<!--/*-->리액트 빌드 JS 파일<!--*/-->
			<script src="/build/static/js/main.400dfdac.js" ></script>
			<script src="/build/static/js/319.6b4ced94.chunk.js" ></script>
			<script src="/build/static/js/895.42d57795.chunk.js" ></script>
			<script src="/build/static/js/462.79912453.chunk.js" ></script>
			<script src="/build/static/js/767.ae188fb5.chunk.js" ></script>
		</th:block>
</html>