.sendbird-chat-header .sendbird-conversation__channel-header button {
    display: none;
    pointer-events: none;
}
#root > div.app-container > div > div.sendbird-conversation__footer > div.sendbird-conversation__footer__typing-indicator > div {
    display: none;
}