<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/client/layout/layout}">

<th:block layout:fragment="css">
  <link rel="stylesheet" href="/css/wish/wishList.css" />
</th:block>

<th:block layout:fragment="content">
  <div class="wishList">
    <h2>찜 목록</h2>

    <div class="filter-container">
      <div class="deleteBtn-container">
        <button class="deleteBtn">선택삭제</button>

      </div>
      <div class="option-container">
        <a class="sort-options">최신순</a>
        <a class="sort-options">인기순</a>
        <a class="sort-options">저가순</a>
        <a class="sort-options">고가순</a>
      </div>
    </div>

    <div class="product-list">

      <div class="product-item" th:each="product : ${wishList}" th:object="${wish}" th:data-no="*{wishID}">
        <div class="checkbox-container">
          <input type="checkbox" class="select-product">
        </div>
        <div class="product-image">
          <img src="https://via.placeholder.com/150" alt="wishListImg" class="wishListImg">
        </div>
        <div class="product-info">
          <p class="productName">가마가츠 마스타모델2 타모노봉 H630</p>
          <p class="productPrice">1,080,000 원</p>
          <p class="userLocationName">제주특별자치도 서귀포시 중문동</p>
        </div>
      </div>
    </div>

  </div>


</th:block>


<th:block layout:fragment="script">
  <script src="/js/wish/wishList.js"></script>
</th:block>

</html>