.deatilContainer{
	width:880px;
}
.productDetailContainer{
    margin-top: 50px;
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

.product-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price {
    font-size: 24px;
    color: #000;
    margin-bottom: 10px;
    font-weight: bolder;
}
.product-subinfo{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;

}
.postPrice{
    text-align: end;
}

.postPrice,
.reportBtn {
    font-size: 16px;
    color: #666;
}
.reportBtn > a{
    text-decoration: none;
    color: black;
}

.actions {
    margin-top: 20px;
}

.actions button {
    margin-right: 10px;
}

.seller-info {
    background-color: #fff;
    padding: 20px;
}

.seller-name {
    font-size: 16px;
    font-weight: bold;
}

.seller-description {
    font-size: 14px;
}

.product-description {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.product-description h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.product-description p {
    font-size: 16px;
    line-height: 1.5;
}

.seller-container{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
}
.seller-info{
    border-top : 1px solid #e5e5e5;
    margin-top: 20px;
    border-bottom : 1px solid #e5e5e5;
    width: 100%;
}
.product-script-container{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    min-height: 500px;
    height: auto;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 50px 150px 50px 150px;
}

.product_thum_img{
	width:358px;
	height:358px;
}

.productListImage{
	width:452px;
	height:350px;
}
.image-box > img {
    margin-bottom: 20px;
}

.product-script{
    min-height: 100px;
    height: auto;
    font-size: 20px;
}

.seller-subinfo{
    justify-content: center;
    align-content: center;
}

.detail-right{
    display: flex;
    justify-content: flex-end;
}

#detail-option{
    font-weight: bolder;
}
