<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{template/client/layout/layout}">

<head>
    <title>메인 페이지</title>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="container">
            <div class="text-center">
                <h3>게시판 리스트</h3>
                <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fimage.nmv.naver.net%2Fblog_2024_02_26_206%2F0e661a74-d3f3-11ee-8dba-b4055dcdfecc_01.jpg&type=sc960_832" alt="이미지" />
            </div>
        </div>
    </th:block>

    <th:block layout:fragment="script">
        <!-- 필요한 스크립트 추가 -->
    </th:block>
</body>

</html>
