
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- 공통정보 -->
<th:block th:fragment="config">
        <link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
	<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/css/common.css" />

	<!-- 
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/cover/">
 -->
</th:block>

<!-- 상단 adminheader -->
<th:block th:fragment="adminheader">
    <div class="header-container">
	<div class="header">
        <!--헤더 위-->
	        <div class="header-top">
	            <div class="header-top-right">
	                <a href="#" class="header-link">admin</a>
	            </div>
	            <div>
	                <a href="/admin/Login" class="header-link">로그아웃</a>
	            </div>
	        </div>
	         <!--헤더 중간-->
	        <div class="header-middle">
	            <div class="header-middle-left">
	                <a href="#" class="logo">
	                    <img src="logo.png" alt="사과로고">
	                </a>
	            </div>
	            <div class="header-middle-right">
	                <a href="/admin/success/administration" class="header-right-link">사용자 관리</a>
	                <span class="header-middle-link-line"> | </span>
	                <a href="/admin/success/community" class="header-right-link">커뮤니티 관리</a>
	                <span class="header-middle-link-line"> | </span>
	                <a href="/admin/success/product" class="header-right-link">상품 관리</a>
	                <span class="header-middle-link-line"> | </span>
	                <a href="/admin/success/category" class="header-right-link">카테고리 관리</a>
	            </div>
	        </div>
		</div>
	</div>
</th:block>


<!-- footer -->
<th:block th:fragment="footer">
    <div class="footer-container">
	<!-- th:fragment 옵션으로 아래 코드의 Fragment의 이름을 선언해주고 공통 레이아웃에서 해당 Fragment명을 호출하여 해당 코드를 불러올수 있다. -->
	<div class="footer">
        <div  class="footer_1">
    
          <div class="footer_1_div">
                <p class="footer_txt_1">사업자 정보</p>
              <hr/>
              <p class="footer_txt_2">
                    상호명 및 호스팅 서비스 제공 : 사과마켓(주) <br />
                    주소: 서울특별시 강남구 역삼대로 사과마켓<br />
                    대표자: 사과마켓_2조<br />
                    사업자 등록 번호: 000-00-000000 <br />
                    통신판매업 신고번호: 2024-서울강남-0000<br />
                    </p>
                <a class="footer_txt_2" href="https://www.aesop.com/kr/r/sustainability/">더 알아보기</a>
              </div>
    
        
          <div class="footer_1_div">
              <p class="footer_txt_1">고객센터 전화번호 운영시간 주소</p>
            <hr/>
                <p class="footer_txt_3">1577-0000(유료)</p>
                <p class="footer_txt_2">
                    서울시 강남구 역삼대로<br />
                    이메일: appleMarket@google.com<br/>
                </p>
          </div>
    


      </div>
      <div class="footer_2">
        <p class="footer_txt_2">© AppleMarket</p>
      </div>
      </div>
    </div>
</th:block>

