<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/client/layout/layout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/product/productDetail.css" />
</th:block>

<th:block layout:fragment="content">
	<div th:object="${detail}" class="deatilContainer">

		<div id="productDetailpageContainer mt-5">
			<div class="row productDetailContainer">
				<form id="dataForm" name="dataForm">
					<input type="hidden" name="productID" th:field="*{productID}" />
					<input type="hidden" th:field="*{productName}" th:value="${productName}"/>
					<input type="hidden" th:field="*{productPrice}" th:value="${productPrice}"/>
					<input type="hidden" th:field="*{postPrice}" th:value="${postPrice}"/>
				</form>

				<div class="detail-right">
				 <!--
				<div class="detail-right" th:if="${dtail.user.userNo == #authentication.principal.userNo}">				
				 -->
					<ul>
						<li class="nav-item dropdown option">
						<a class="nav-link dropdown-toggle" id="detail-option" href="#"
							data-bs-toggle="dropdown" aria-expanded="false">옵션</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" id="productUpdateFormBtn">수정</a></li>
								<li><a class="dropdown-item" id="productDeleteBtn">삭제</a></li>
							</ul></li>
					</ul>
				</div>


				<!-- 상품 사진, 이름, 가격,  -->
				<div class="col-md-6">
					<div class="product-image">
						<img th:if="${not #lists.isEmpty(detail.productImages)}"
							th:src="@{'/product/view/' + ${detail.productID} + '/' + ${detail.productImages[0].filename}}"
							class="img-fluid productListImage" />
					</div>
				</div>
			
			
			<div class="col-md-6">
				<div class="product-info">
					<h1 class="product-name" th:text="*{productName}"></h1>
					<p class="product-price" th:text="'₩' + *{productPrice}"></p>
					<!-- 가격 단위 표시 추가 -->
					<div class="product-subinfo">
						<label>배송비</label>
						<p class="postPrice" th:text="'₩' + *{postPrice}"></p>
						<!-- 배송비 단위 표시 추가 -->
					</div>
					<span class="text-end reportBtn"><a href="#">신고하기</a></span>
					<div class="actions">

						<button class="btn btn-dark">찜하기</button>
						<button class="btn btn-dark">채팅하기</button>
						<button class="btn btn-dark buyBtn">구매하기</button>

					</div>
				</div>
			</div>
		</div>
</div>
<!-- 판매자 정보  -->
<div class="seller-container">
    <div class="seller-info mt-5 d-flex align-items-center">
        <img src="https://via.placeholder.com/50" alt="Seller Image" class="rounded-circle">
        <div class="ms-3 seller-subinfo">
            <p class="seller-name mb-0">
                <a href="#" th:text="*{user.userNickname}">판매자 이름</a>
            </p>
            <th:block th:if="${detail.user != null}">
                <p th:if="${detail.user.location != null}" th:text="${detail.user.location.locationName}" class="mb-0">판매자 주소</p>
                <p th:if="${detail.user.location == null}" class="mb-0">동네를 설정해주세요.</p>
            </th:block>
        </div>
    </div>
</div>
                         

		<div class="product-script-container">
			<div th:if="${#lists.size(detail.productImages)==2}" class="image-box">
				<img
						th:src="@{'/product/view/' + ${detail.productID} + '/' + ${detail.productImages[0].filename}}"
						class="img-fluid productListImage" />
				<img
					th:src="@{'/product/view/' + ${detail.productID} + '/' + ${detail.productImages[1].filename}}"
					class="img-fluid productListImage" />
			</div>
			<div th:if="${#lists.size(detail.productImages)==3}" class="image-box">
				<img
						th:src="@{'/product/view/' + ${detail.productID} + '/' + ${detail.productImages[0].filename}}"
						class="img-fluid productListImage" />
				<img
					th:src="@{'/product/view/' + ${detail.productID} + '/' + ${detail.productImages[1].filename}}"
					class="img-fluid productListImage" />
				<img
					th:src="@{'/product/view/' + ${detail.productID} + '/' + ${detail.productImages[2].filename}}"
					class="img-fluid productListImage" />
			</div>
			<div class="product-script" th:text="*{productDescription}">상품
				설명이 들어가는 영역</div>

		</div>
	</div>
</th:block>

<th:block layout:fragment="script">
	<script src="/js/product/productDetail.js"></script>
</th:block>
</html>
