<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/client/layout/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/product/updateForm.css" />
</th:block>

<th:block layout:fragment="content">
    <div class="update-container" th:object="${updateData}">
        <form id="updateForm" name="updateForm">
            <input type="hidden" name="productID" id="productID" th:value="*{productID}" />
            
            <div class="img-form-group">
                <div class="image-upload">
                    <input type="file" id="fileInput" class="images" name="files" onchange="addFile(this);" multiple="multiple" />
                    <label for="fileInput" class="image-label">+</label>
                </div>

<div class="image-group">
    <div class="imagePreview">
        <div class="img-wrapper" th:each="image : ${updateData.productImages}">
    <img th:src="@{'/product/view/' + ${updateData.productID} + '/' + ${image.filename}}" class="img-thumbnail"/>
    <a href="javascript:void(0);" class="deleteBtn" th:data-filename="${image.filename}" onclick="deleteFile(this);" style="color:red;">삭제</a>
    <input type="hidden" class="existingFileName" name="existingFileNames" th:value="${image.filename}"/>
</div>

    </div>
</div>     
           
            </div>

            <div class="form-group">
                <label for="productStatus">판매 상태</label>
                <select id="productStatus" th:field="*{productStatus}">
                    <option value="판매 중">판매 중</option>
                    <option value="판매 완료">판매 완료</option>
                </select>
            </div>

            <div class="form-group">
                <label for="productName">상품명</label>
                <input type="text" id="productName" placeholder="상품명을 입력해 주세요." maxlength="50" th:field="*{productName}">
            </div>

            <div class="form-group">
                <label for="category">카테고리</label>
                <select id="category" th:field="*{category.categoryID}">
                    <option value="clothe">의류</option>
                    <option value="accessory">액세서리</option>
                    <option value="electronic">전자기기</option>
                    <option value="sports">스포츠/레저</option>
                    <option value="kidult">키덜트</option>
                    <option value="art">예술/음반/악기</option>
                    <option value="book">도서/티켓/문구</option>
                    <option value="interior">가구/인테리어</option>
                    <option value="homegoods">생활/주방용품</option>
                    <option value="etc">기타</option>
                </select>
            </div>

            <div class="form-group">
                <label for="productDescription">설명</label>
                <textarea id="productDescription" rows="5" th:field="*{productDescription}" placeholder="상품 설명을 입력해 주세요."></textarea>
            </div>

            <h1>가격</h1>
            <div class="form-group">
                <label for="productPrice">가격</label>
                <input type="number" id="productPrice" th:field="*{productPrice}" placeholder="가격을 입력해 주세요.">
                <p>가격은 500~999,999,999원까지 입력 가능해요.</p>
            </div>

            <h1>택배거래</h1>
            <div class="form-group">
                <label for="postPrice">배송비</label>
                <input type="number" id="postPrice" th:field="*{postPrice}" placeholder="배송비는 0~17000원까지 입력 가능해요.">
            </div>
        </form>
    </div>

    <div class="text-end">
        <input type="button" value="저장" id="productUpdateBtn" class="btn btn-primary btn-sm" /> 
        <input type="button" value="취소" id="productCancelBtn" class="btn btn-primary btn-sm" /> 
        <input type="button" value="목록" id="productListBtn" class="btn btn-primary btn-sm" />
    </div>
</th:block>

<th:block layout:fragment="script">
    <script src="/js/product/updateForm.js"></script>
</th:block>

</html>
