<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{template/client/layout/layout}">
		
		<th:block layout:fragment="content">
			<div class="text-center"><h3>주문 내역</h3></div>
		
			<div class="board-table-height">
				<table class="table">
					<thead>
						<tr class="text-center">
							<th class="col-md-2">주문일</th>
							<th class="col-md-4">주문번호</th>
							<th class="col-md-2">상품명</th>
							<th class="col-md-3">배송지</th>
						</tr>
					</thead>
					<tbody>
						<!-- #lists, #sets, #maps : 컬렉션 관련 기능 제공 -->
						<tr th:if="${#lists.size(orderList)==0}">
							<td colspan="4" class="text-center">주문 내역이 존재하지 않습니다.</td>
						</tr>
						<!-- 
							Strings 객체의 유틸리티 메서드는 #strings
							ex) ${#strings.method(string)} 형태 
						-->
						<th:block th:if="${not #strings.isEmpty(orderList)}">
							<tr class="text-center" th:each="order : ${orderList}" th:object="${order}" th:data-no="*{orderID}">
								<td th:text="*{#temporals.format(orderRegDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
								<td th:text="*{orderID}">
								<td class="text-start"><a th:href="@{/order/} + *{product.productID}" th:text="*{product.productName}" ></a></td>
								<td th:text="*{postAddress}"></td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</th:block>
		
		<th:block layout:fragment="script">
			<script src="/js/order/orderControl.js" ></script>
		</th:block>

</html>