<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{template/client/layout/layout}">
		
		<th:block layout:fragment="css">
			<link rel="stylesheet" href="/css/order/insertForm.css" />
		</th:block>
		
		<th:block layout:fragment="content" th:object="${order}">
		
		    <div class="text-center"><h3>주문 상세 내역</h3></div>
    
		    <div class="order-content-container">
		        <!-- 주문 정보 표시 섹션 -->
		        <div class="section">
		            <h5>주문 정보</h5>
		            <p><strong>주문 번호:</strong> <span th:text="*{orderID}"></span></p>
		            <p><strong>주문 날짜:</strong> <span th:text="*{#temporals.format(orderRegDate, 'yyyy-MM-dd')}"></span></p>
		            <p><strong>결제수단:</strong> <span th:text="*{paymentMethod}"></span></p>
		            <div class="price-info" th:object="${order.product}">
			            <p><strong>총 결제금액:</strong> <span th:text="*{productPrice}+' 원'"></span></p>
		            </div>
		        </div>
		

		        <!-- 배송 정보 표시 섹션 -->
		        <div class="section">
		            <h5>배송 정보</h5>
		            <!-- <p><strong>받는 분:</strong> <span id="recipientName">홍길동</span></p>
		            <p><strong>전화번호:</strong> <span id="recipientPhone">010-1234-5678</span></p> -->
		            <p><strong>배송 주소:</strong> <span th:text="*{postAddress}"></span></p>
		            <p><strong>운송장 번호:</strong> <span th:text="*{postNumber}"></span></p>
		            <p><strong>요청사항:</strong> <span th:text="*{requestText}"></span></p>
		        </div>
		
		        <!-- 상품 정보 표시 섹션 -->
		        <div class="section">
		            <h5>상품 정보</h5>
		            <div class="order-summary" th:object="${order.product}">
		                <div class="d-flex justify-content-between align-items-center">
		                    <img th:if="${imageFileName}" th:src="@{/order/view/product_{productID}/{fileName}(productID=${order.product.productID}, fileName=${imageFileName})}" th:alt="${imageFileName}" id="image"/>
		                    <div>
		                        <p><strong>상품명:</strong> <span th:text="*{productName}"></span></p>
		                        <p><strong>가격:</strong> <span th:text="*{productPrice}+' 원'"></span></p>
		                    </div>
		                </div>
		            </div>
		        </div>
		        
		        <button class="btn btn-block returnBtn">주문 내역으로 돌아가기</button>
		        
		    </div>
		
		</th:block>
		
		<th:block layout:fragment="script">
 			<script src="/js/order/orderDetail.js" ></script> 
		</th:block>

</html>