<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{template/client/layout/layout}">
		
		<th:block layout:fragment="css">
			<link rel="stylesheet" href="/css/order/orderList.css" />
		</th:block>
		
		<th:block layout:fragment="content">
		    <div class="text-center"><h3>주문 내역</h3></div>
		    
		    <div class="transaction-list mt-4">
		        <!-- Display a message if there are no orders -->
		        <div th:if="${#lists.size(orderList) == 0}" class="text-center">
		            주문 내역이 존재하지 않습니다.
		        </div>
		        
		        <div th:each="order : ${orderList}" class="card mb-3" th:object="${order}" th:data-order-id="*{orderID}">
		            <div class="card-body">
		                <div class="date" th:text="*{#temporals.format(orderRegDate, 'yyyy-MM-dd')}"></div>
		                <div class="details d-flex">
		                    <img th:if="${imageFileNames[order.orderID]}" th:src="@{'/order/view/product_'+${order.product.productID}+'/'+ ${imageFileNames[order.orderID]}}" th:alt="'Order Image'"/>
		                    <div class="info ml-3">
		                        <span class="price" th:text="*{product.productPrice}+'원'"></span>
		                        <!-- <a th:href="@{/order/{orderID}(orderID=${order.orderID})}" class="item-name" th:text="*{product.productName}"></a> -->
		                        <!-- <a th:href="@{/product/{productID}(productID=${order.product.productID})}" class="item-name" th:text="*{product.productName}"></a> -->
		                        <span class="item-name" th:text="*{product.productName}"></span>
		                        <span class="post-address" th:text="*{postAddress}"></span>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</th:block>

		
		<th:block layout:fragment="script">
			<script src="/js/order/orderList.js" ></script>
		</th:block>

</html>